body, form{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border: 10px;
    height: 80vh;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.548);
}

h1{
    font-size: 28pt;
}
h2{
    font-size: 16pt;
}
input{
    height: 4vh;
    font-size: 12pt;
    border-top: 3px;
    border-color: rgb(241, 240, 240);
}
::placeholder{
    color: red;
}
button{
    height: 5vh;
    width: 70pt;
    font-size: 12pt;
    color: red;
    border-color: grey; 
}